.clip {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

.layout {
  position: absolute;
  width: calc(100% + 1px);
  height: calc(100% + 1px);
  overflow: hidden;
  margin: calc(0px - 1px / 2);
}
