.codex-editor__redactor {
  padding-bottom: 0 !important;
}

.ce-block__content {
  max-width: unset !important;
}

.ce-toolbar__content {
  max-width: unset !important;
}

.ce-toolbar__actions {
  right: 0 !important;
}

.ce-toolbar__plus {
  left: 0 !important;
}

.cdx-block {
  padding: 0 !important;
}
