@tailwind base;

@layer base {
  h1 {
    @apply text-2xl font-bold;
  }
  h2 {
    @apply text-xl font-bold;
  }
  h3 {
    @apply text-lg font-bold;
  }
  a {
    @apply text-blue-600 underline;
  }
}

@tailwind components;

@tailwind utilities;

.drag-region {
  -webkit-app-region: drag;
}

.no-drag-region {
  -webkit-app-region: no-drag;
}

.codex-editor__redactor {
  padding-bottom: 0 !important;
}

.ce-block__content {
  max-width: unset !important;
}

.ce-toolbar__content {
  max-width: unset !important;
}

.ce-toolbar__actions {
  right: 0 !important;
}

.ce-toolbar__plus {
  left: 0 !important;
}

.cdx-block {
  padding: 0 !important;
}

.px-corner {
  background-color: rgba(100, 100, 100, 0.5);
}

.px-layout {
  width: 100% !important;
  height: 100% !important;
}
