.paper {
  overflow-y: auto;
  margin: auto;
}

.letter {
  aspect-ratio: 1/1.2941;
  max-width: 8.5in;
}

.legal {
  aspect-ratio: 1/1.2941;
  max-width: 8.5in;
}

.fill {
  width: 100%;
  height: 100%;
}
