* {
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  background-color: black;
  height: 45px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: 10px;
  color: white;
}

body {
  overflow-x: hidden;
}

img {
  max-width: 100%;
  border-radius: 5px;
  margin-top: 10px;
}

.appContainer {

}

.pageContainer {
  width: 100vw;
  height: calc(100vh - 40px);
}