.createPage {
    background-color: transparent;
    display: block;
}

.cardContainer {
    display: block;

    margin-left: auto;
    margin-right: auto;
    
    margin-top: 50vh;
    transform: translate(0, -50%);

}
