@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    /* display: none; */
    width: 16px;
}

::-webkit-scrollbar-thumb {
    height: 56px;
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: #933bff;
}

.react-pdf__Page__svg {
    width: 100% !important;
    height: auto !important;
    user-select: unset !important;
}

.react-pdf__Page__svg svg {
    width: 100% !important;
    height: auto !important;
}
