.mainPage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.mainPageSideBar {
  width: 200px;
  height: 100%;
}

.mainPageContent {
  width: 100%;
  height: 100%;
}

.mainPageContent > div {
  width: 100%;
  height: 100%;
}
