@tailwind base;

@layer base {
  h1 {
    @apply text-2xl font-bold;
  }
  h2 {
    @apply text-xl font-bold;
  }
  h3 {
    @apply text-lg font-bold;
  }
  a {
    @apply text-blue-600 underline;
  }
}

@tailwind components;

@tailwind utilities;

.drag-region {
  -webkit-app-region: drag;
}

.no-drag-region {
  -webkit-app-region: no-drag;
}

:root {
  --thickness: 1px;
  --draggable: calc(1px + 6px);
  --color: "white";
}

kbd {
  background: rgba(0, 0, 0, 0.05);
  padding: 0.1em 0.4em;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

#editor-container hr {
  border: none;
  color: #111;
  letter-spacing: 1em;
  text-align: center;
}

#editor-container hr:before {
  content: "...";
}

/* ! TODO: Clean CSS */
.react-pdf__Document {
  width: 100% !important;
  height: 100% !important;
  overflow: auto !important;
}

.react-pdf__Page {
  height: 100% !important;
  background: unset !important;
  overflow: auto !important;
}

.react-pdf__Page__svg {
  width: auto !important;
  height: 100% !important;
  background: unset !important;
  /* user-select: unset !important; */
  overflow: auto !important;
}

.react-pdf__Page__svg svg {
  margin: auto !important;
  width: auto !important;
  height: 100% !important;
  background: white !important;
}
